Makefile
.qmake.cache
.qmake.super
*.pro.user*
CMakeLists.txt.user*
CMakeUserPresets.json
.vscode/
[Bb]uild/
[Bb]uild64/
build-*
.DS_Store
.vs/
[Oo]utput/
[Ll]ib/
[Ll]ib64/
[Bb]in/
[Bb]in64/
cmake/
[Ii]nstall/
[Ii]nstall64/
build.user.bat
build.user.ps1
build.user.sh
.qmake.conf
.cmake.conf
*.exe
*.lib
*.obj
*.exp
*.ilk
*.pdb
*.o
*.a
*.dll
*.run
*.so
*.dylib
*.app
*.dmg
*.iso
*.7z
*.zip
*.rar
*.rc
*.qm
Thumbs.db
*.bat
*.sh
