[submodule "qtbase"]
	path = qtbase
	url = ../../wangwenx190/qtbase.git
	branch = custom
[submodule "qtimageformats"]
	path = qtimageformats
	url = ../../qt/qtimageformats.git
	branch = dev
[submodule "qtsvg"]
	path = qtsvg
	url = ../../qt/qtsvg.git
	branch = dev
[submodule "qtshadertools"]
	path = qtshadertools
	url = ../../qt/qtshadertools.git
	branch = dev
[submodule "qthttpserver"]
	path = qthttpserver
	url = ../../qt/qthttpserver.git
	branch = dev
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = ../../wangwenx190/qtdeclarative.git
	branch = custom
[submodule "vcpkg"]
	path = vcpkg
	url = ../../microsoft/vcpkg.git
	branch = master
[submodule "qtlanguageserver"]
	path = qtlanguageserver
	url = ../../qt/qtlanguageserver.git
	branch = dev
[submodule "qtquicktimeline"]
	path = qtquicktimeline
	url = ../../qt/qtquicktimeline.git
	branch = dev
[submodule "qtwebsockets"]
	path = qtwebsockets
	url = ../../qt/qtwebsockets.git
	branch = dev
[submodule "qtlottie"]
	path = qtlottie
	url = ../../qt/qtlottie.git
	branch = dev
[submodule "qtquick3d"]
	path = qtquick3d
	url = ../../wangwenx190/qtquick3d.git
	branch = custom
[submodule "qtgraphs"]
	path = qtgraphs
	url = ../../qt/qtgraphs.git
	branch = dev
[submodule "qtquick3dphysics"]
	path = qtquick3dphysics
	url = ../../qt/qtquick3dphysics.git
	branch = dev
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = ../../qt/qtmultimedia.git
	branch = dev
